
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
 html, body{
 padding: 0;
 margin: 0;
 height: 100%;
 }
 body {
 display: grid;
 grid-template-rows: auto 1fr auto;
 }
 #page-head, #page-main, #page-code, #page-footer {
 padding: 10px;
 }
 #page-head {
 background-color: 576F72;
 }
 #page-main {
 background-color: yellow;
 }

#page-code {
 background-color: 2C3333;
 }

 #page-footer { 
 background-color: gray;
 }

 hr {
 background-color: 355764;
 height: 5px;
 width: 100.45%;
 }
 ::-webkit-scrollbar{
  width: 20px;
 }
 ::-webkit-scrollbar-track {
 background-color: 2C3333;
 margin-block: 2em;
} 
::-webkit-scrollbar-thumb {
 background-color: A5C9CA;
 border-radius: 10px;
 border: 5px solid transparent;
 background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
background-color: white;
}
button{
    background-color: rgb(0, 130, 237);
    padding: 5px;
    color: whitesmoke;
    font-family: lato;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    border-color: steelblue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
} 

button:hover{
    background-color: deepskyblue;
    border-color: deepskyblue;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    font-weight: bold;
}

img{
    border-color: cyan;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

img:hover{
    border-color: darkcyan;
    border-radius: 10px;
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
